<!-- {% extends 'base.html' %}

{% block content %}
    Welcome to the Pokémon Trainer Club!
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='username', autocomplete='off')}}
        {{ form.password(class='form-control', placeholder='password', autocomplete='off')}}
        {{ form.submit(class='btn btn-primary')}}
    </form>


    Join the Pokémon Trainer Club!
    <form class="container" method="POST">
        {{ form.hidden_tag() }}
        {{ form.submit(class='btn btn-primary')}}
    </form>
{% endblock %} -->