{% extends 'base.html' %}

{% block content %}
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.poke_name(class='form-control', placeholder='Enter Pokémon name or Pokémon ID', autocomplete='off')}}
        {{ form.submit(class='btn btn-primary')}}
    </form>
    {% if pokemon_dict %}
    <div class="card" style="width: 18rem;">
        <img src="{{ pokemon_dict['image'] }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                <h1>{{ pokemon_dict['name'].upper() }}</h1>
                <h4>Type: {{ pokemon_dict['type'].title() }}</h4>
                <h4>ABILITY: {{ pokemon_dict['ability'].title() }}</h4>
                <h4>HP: {{ pokemon_dict['hp'] }}</h4>
                <h4>ATTACK: {{ pokemon_dict['attack'] }}</h4>
                <h4>DEFENSE: {{ pokemon_dict['defense'] }}</h4>
                <button type="button" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Catch {{ pokemon_dict['name'].title() }}!
                </button>
            </p>
        </div>
    </div>
    {% endif %}

{% endblock %} 